NET "S_CLK" LOC = M15; #SPI clock
NET "MOSI" LOC = K12; #Master out slave in
NET "MISO" LOC = L15; #Master in slave out
NET "SS" LOC = L17; #Slave select

NET "CLK" LOC = B8; # 50 mhZ CLOCK

NET "ENABLE_TILT" LOC = R15; 
NET "MOTOR_CONTROL_TILT_1" LOC = R18; 
NET "MOTOR_CONTROL_TILT_2" LOC = R16; 
NET "HALL_SENSOR_TILT_1" LOC = G13;
NET "HALL_SENSOR_TILT_1" CLOCK_DEDICATED_ROUTE = FALSE;
NET "HALL_SENSOR_TILT_2" LOC = G16;
NET "HALL_SENSOR_TILT_2" CLOCK_DEDICATED_ROUTE = FALSE;

NET "ENABLE_PAN" LOC = U18; 
NET "MOTOR_CONTROL_PAN_1" LOC = T18; 
NET "MOTOR_CONTROL_PAN_2" LOC = T17; 
NET "HALL_SENSOR_PAN_1" LOC = H16;
NET "HALL_SENSOR_PAN_1" CLOCK_DEDICATED_ROUTE = FALSE;
NET "HALL_SENSOR_PAN_2" LOC = J12;
NET "HALL_SENSOR_PAN_2" CLOCK_DEDICATED_ROUTE = FALSE;

NET "AN[0]" LOC = F17;  #Ciffer #0
NET "AN[1]" LOC = H17;	#Ciffer #1
NET "AN[2]" LOC = C18;	#Ciffer #2
NET "AN[3]" LOC = F15;	#Ciffer #3
NET "SEGMENTS[1]" LOC = L18; 	#a
NET "SEGMENTS[2]" LOC = F18;	#b
NET "SEGMENTS[3]" LOC = D17;	#c
NET "SEGMENTS[4]" LOC = D16;	#d
NET "SEGMENTS[5]" LOC = G14;	#e
NET "SEGMENTS[6]" LOC = J17;	#f
NET "SEGMENTS[7]" LOC = H14;	#g
NET "SEGMENTS[8]" LOC = C17;	#dp

#NET "Sw<0>" LOC = "G18";
#NET "Sw<1>" LOC = "H18";
#NET "Sw<2>" LOC = "K18";
#NET "Sw<3>" LOC = "K17";
#NET "Sw<4>" LOC = "L14";
#NET "Sw<5>" LOC = "L13";
#NET "Sw<6>" LOC = "N17";
#NET "Sw<7>" LOC = "R17";