//! **************************************************************************
// Written by: Map P.20131013 on Fri May 20 15:42:26 2016
//! **************************************************************************

SCHEMATIC START;
COMP "SS" LOCATE = SITE "L17" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "MISO" LOCATE = SITE "L15" LEVEL 1;
COMP "MOSI" LOCATE = SITE "K12" LEVEL 1;
COMP "HALL_SENSOR_PAN_1" LOCATE = SITE "H16" LEVEL 1;
PIN HALL_SENSOR_PAN_1_pin<0> = BEL "HALL_SENSOR_PAN_1" PINNAME PAD;
PIN "HALL_SENSOR_PAN_1_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "HALL_SENSOR_PAN_2" LOCATE = SITE "J12" LEVEL 1;
PIN HALL_SENSOR_PAN_2_pin<0> = BEL "HALL_SENSOR_PAN_2" PINNAME PAD;
PIN "HALL_SENSOR_PAN_2_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "AN<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "S_CLK" LOCATE = SITE "M15" LEVEL 1;
COMP "ENABLE_PAN" LOCATE = SITE "U18" LEVEL 1;
COMP "HALL_SENSOR_TILT_1" LOCATE = SITE "G13" LEVEL 1;
PIN HALL_SENSOR_TILT_1_pin<0> = BEL "HALL_SENSOR_TILT_1" PINNAME PAD;
PIN "HALL_SENSOR_TILT_1_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "HALL_SENSOR_TILT_2" LOCATE = SITE "G16" LEVEL 1;
PIN HALL_SENSOR_TILT_2_pin<0> = BEL "HALL_SENSOR_TILT_2" PINNAME PAD;
PIN "HALL_SENSOR_TILT_2_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "MOTOR_CONTROL_TILT_1" LOCATE = SITE "R18" LEVEL 1;
COMP "MOTOR_CONTROL_TILT_2" LOCATE = SITE "R16" LEVEL 1;
COMP "ENABLE_TILT" LOCATE = SITE "R15" LEVEL 1;
COMP "MOTOR_CONTROL_PAN_1" LOCATE = SITE "T18" LEVEL 1;
COMP "MOTOR_CONTROL_PAN_2" LOCATE = SITE "T17" LEVEL 1;
COMP "SEGMENTS<1>" LOCATE = SITE "L18" LEVEL 1;
COMP "SEGMENTS<2>" LOCATE = SITE "F18" LEVEL 1;
COMP "SEGMENTS<3>" LOCATE = SITE "D17" LEVEL 1;
COMP "SEGMENTS<4>" LOCATE = SITE "D16" LEVEL 1;
COMP "SEGMENTS<5>" LOCATE = SITE "G14" LEVEL 1;
COMP "SEGMENTS<6>" LOCATE = SITE "J17" LEVEL 1;
COMP "SEGMENTS<7>" LOCATE = SITE "H14" LEVEL 1;
COMP "SEGMENTS<8>" LOCATE = SITE "C17" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

